.skin-map-icelabs {

	margin-bottom: $base-spacing;

	// Map Legend

	.filter-list {
		width: 100%;
		text-align: right;
		margin: $base-spacing 0;
		border-bottom: 1px solid rgba($decent, $alpha);

  		.filter-item {
			@include icelab-button('right');
  		}
	}
}