.skin-map-icelabs {

	margin-bottom: $base-spacing;

	// Map Legend

	.filter-list {
		width: 100%;
		text-align: right;
		margin: $base-spacing 0;

  		.filter-item {
			@include icelab-button('right');
			margin-left: $half-spacing;
  		}
	}
}