
//
// Fonts

// Font included conditionally via fonts file

$font-family: 'Open Sans', sans-serif;


// Add Styling (Color, Text Decoration etc.) in your Modules

  	// H1: Page Headlines, MainNav

	@mixin headline-l($color: $white) {
		font-family: $font-family;
		font-weight:normal;
		font-size: 22px;
		line-height: 32px;
		color: $color;
		margin-bottom: $spacing;
	}


	// H2: Section Titles

	@mixin headline-m($color: $white) {
		font-family: $font-family;
		font-weight:normal;
		font-size: 18px;
		line-height: 28px;
		color: $color;
	}


	//
	// Typography Miscs
	//

	@mixin copy($color: $white) {
	  font-size: 14px;
	  line-height: 24px;
	  color: $color;
	}


	@mixin meta($color: $white) {
	  	font-size: 12px;
		line-height: 22px;
		color: $color;
	}