
//
// Mappress — Overrides

.mapp-layout {
	margin: 0;
}

.mapp-ib {
	border: 1px solid white;
	box-shadow: 0 0 1px $black;


	.mapp-title h2 {
		color: $dark;
		margin-bottom: $half-spacing;
	}

	.mapp-body {

		label {
			display: block;
			font-size: $small-size;
		}

		.row {
			margin-bottom: $base-spacing / 2;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.profile-link {
			color: $dark;
			font-weight: bold;
		}
	}

	.mapp-links {
		border: none;
		height: 0;
		overflow: hidden;
	}
}

.mapp-map-links {
	border: none;
}