
/*
 * Typography
 */

h1, .h1 {
	font-size: @h1-size;
	line-height: @h1-size * @line-height-ratio;
	font-weight: normal;
}

h2, .h2 {
	font-size: @h2-size;
	line-height: @h2-size * @line-height-ratio;
	font-weight: normal;
}

h3, .h3 {
	font-size: @h3-size;
	line-height: @h3-size * @line-height-ratio;
	font-weight: normal;
}

h4, .h4 {
	font-size: @h4-size;
	line-height: @h4-size * @line-height-ratio;
	font-weight: normal;
}


.giga {
	font-size: @giga-size;
	line-height: @giga-size * @line-height-ratio;
}

.mega {
	font-size: @mega-size;
	line-height: @mega-size * @line-height-ratio;
}


.copy {
	font-size: @base-font-size;
	line-height: @base-line-height;
}

.small {
	font-size: @small-size;
	line-height: @small-size * @line-height-ratio;
}

.micro {
	font-size: @micro-size;
	line-height: @micro-size * @line-height-ratio;
}

/*
 * Small
 */

small {
	.small();
}

/*
 * Selected Text Styling
 */

::selection {
	background: fade(@color-copy, 20%);
}

/**
 * Fonts
 * - Give each font a name
 */

@font-default: 'Varela Round', sans-serif;
@font-icons: 'Ico Moon';


// Valera round

@import url(http://fonts.googleapis.com/css?family=Varela+Round);


// Icon Moon

@font-face {
	font-family: 'Ico Moon';
	src: url('../fonts/icomoon/icomoon.eot?rofuzr');
	src: url('../fonts/icomoon/icomoon.eot?#iefixrofuzr') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff?rofuzr') format('woff'), url('../fonts/iconmoon/icomoon.ttf?rofuzr') format('truetype'), url('../fonts/iconmoon/icomoon.svg?rofuzr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


/**
 * Icon Moon Classes
 */

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Ico Moon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: @icon-size;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-paragraph-left:before {
	content: "\e601";
}