.mod-icelab-list {

	#facts-table {
		width: 100%;
		text-align: left;

		th, td {
			padding-right: $base-spacing;
		}

		thead {

			th {
				padding: $base-spacing/2 0;
				border-bottom: 1px solid rgba($decent, $alpha);
			}

			.sort {
				
			}
		}

		tbody {
			tr {
				border-top: 1px solid rgba($decent, $alpha);
			}
		}
	}
	
	.sort {
		cursor: pointer;
	}

	.search {
		text-align: center;
	}


}
