/**
 *
 * Awesome Grid
 *
 */


/*
 * Customize
 */

$grid-fixed-width: 1140px;
$grid-fixed-gutter: 20px;
$grid-max-cols: 12;


// Calculations

$grid-fluid-gutter: percentage((100 / ($grid-fixed-width / $grid-fixed-gutter)) / 100);
$grid-one-col: (100% - ($grid-fluid-gutter * ($grid-max-cols))) / $grid-max-cols;


/*
 * Your Grid Mixins
 */

@mixin row() {
	@extend .cf;
	margin-left: -$grid-fluid-gutter;
	@include _debug('row', $grid-max-cols);
}

@mixin col($grid-max-cols: 12) {
	margin-left: $grid-fluid-gutter;
	float: left;
	width: ($grid-one-col * $grid-max-cols) + ($grid-fluid-gutter * ($grid-max-cols - 1));
	@include _debug('col', $grid-max-cols);
}

@mixin push($grid-max-cols: 1) {
	margin-left: ($grid-one-col * $grid-max-cols) + ($grid-fluid-gutter * ($grid-max-cols + 1)) !important;
	@include _debug('push', $grid-max-cols);
}

@mixin pull($grid-max-cols: 1) {
	margin-left: ($grid-one-col * $grid-max-cols) + ($grid-fluid-gutter * ($grid-max-cols - 1));
	@include _debug('pull', $grid-max-cols);
}


/*
 * Debug
 */

@mixin _debug($label: '', $cols: 12) {

//	@at-root .grid-debug#{&},
//    .grid-debug & {
//
//
//		&:before,
//		&:after {
//			display: block !important;
//			text-align: center;
//			color: white;
//			font-size: 11px;
//		}
//
//		&:before {
//			content: "#{$label}-#{$cols}" !important;
//		}
//
//		&:after {
//			@extend .cf;
//			content: "";
//		}
//
//		@if $label == 'row' {
//
//			&:before,
//			&:after {
//				margin: 10px 0 10px $grid-fluid-gutter;
//				padding: 10px $grid-fixed-gutter/2;
//				background-color: rgba(000, 000, 000, 0.1);
//			}
//		}
//
//		@if $label == 'col' {
//
//			&:before,
//			&:after {
//				margin: 10px 0;
//				padding: 5px 0;
//				background-color: rgba(255, 255, 255, 0.1);
//			}
//
//			margin-top: 4px !important;
//			margin-bottom: 4px !important;
//		}
//	}
}


/*
 * Html Classes
 */

.row {
	@include row();
}

	.col {
		@include col();
	}





