.mod-logo {

	.col(7);

	.inner {
		height: @pageHeaderHeight;
	}

	///////////////////////////////////////////////////////////

		.logo-link {
			.vertical-align();
			display: inline-block;
		}

			.img {
				margin-right: @spacing;
			}

			.title {
				display: inline-block;
			}
}