.mod-logo {

	//
	// @ Mobile

	@media (max-width: @mobile-max) {

		.col(10);

		.inner {
			text-align: right;
		}

			.logo {
				width: 200px;
				height: @heightLogoMobile;
			}
	}

	//
	// @ Tablet

	@media (min-width: @tablet-min) and (max-width: @tablet-max) {

		.col(4);
		margin-bottom: @half-spacing;

			.logo {
				width: 200px;
				height: @heightLogoMobile;
			}
	}

	//
	// @ Desktop and up

	@media (min-width: @desktop-min) {

		.col(4);

		.logo {
			width: 300px;
			height: @heightLogoDesktop;
		}
	}
}