.mod-main-menu {

	@include column(7);

	height: 80px;
	padding-top: 12px;

	// Lvl1

	.nav-list-l1 {
		position: relative;
	}

		.nav-item-l1 {

			@include headline-l();

			&.active > a {
				color: $hilite;
			}

			&.hasChildren {
				position: relative;
			}
		}

	// Lvl 2

	.nav-list-l2 {
		display: none;
		margin-top: 6px;
	}

		.active .nav-list-l2 {
			display: block;
			position: absolute;
			width: 300px;
		}

		.nav-item-l2 {
			@include headline-m();
		}
}