.mod-main-menu {

	@include col(6);

	height: $base-spacing * 4;
	padding-top: 16px;

	// Lvl1

	.nav-list-l1 {
		position: relative;
	}

		.nav-item-l1 {

			> .nav-item-link {
				@extend .gamma;
			}

			&.active > a {
				color: $hilite;
			}

			&.hasChildren {
				position: relative;
			}
		}

	// Lvl 2

	.nav-list-l2 {
		display: none;
		margin-top: 6px;
	}

		.active .nav-list-l2 {
			display: block;
			position: absolute;
			width: 300px;
		}
}
