.mod-layout {

	.page-wrapper {
		.cf();
		.center();
	}

		.page-header {
			.cf();
			background: @color-grey-light;
			margin-bottom: @half-spacing;
			padding: @spacing/4 0;
			border-bottom: 1px solid @color-border;
		}

		.page-main {
			.col(12);
			margin-bottom: @half-spacing;
		}

		.page-footer {
			.cf();
			padding-top: @half-spacing;
			background: @color-grey-light;
		}
}
