.mod-layout {

	.page-wrapper {
		.cf();
		.center();

		//
		// @ Mobile

		@media (max-width: @mobile-max) {
			padding: @half-spacing @half-spacing - @grid-fluid-gutter;
		}
	}

		.page-header {
			.cf();
			margin-bottom: @half-spacing;
		}

		.page-main {
			.col(12);
			margin-bottom: @half-spacing;
		}

		.page-footer {
			.cf();
		}
}
