.mod-layout {

	.site-wrapper {

		@extend .centered;
		width: $total-width;
		margin-top: $base-spacing-unit;
	}

		.site-header {
			@include row(12);

			margin-top: $double-spacing-unit;
			margin-bottom: $base-spacing-unit;
			border-bottom: 1px solid $white;
		}

		.site-main {
			@include row(12);
			margin-bottom: $base-spacing-unit * 2;
		}

		.site-footer {
			@include row(12);
			padding: $base-spacing-unit 0;
			border-top: 1px solid $white;
		}
}