.skin-content-profile {

	.hd {
		line-height: 0;
		margin-bottom: $half-spacing;
	}

	.col-left {
		@include col(4);
	}

	.col-right {
		@include col(8);
	}

		.lang-switch-box {
			margin-bottom: $base-spacing;
			border-bottom: 1px solid rgba($white, $alpha);
		}

			.lang-switch-item {
				@include icelab-button('left');
			}
}
