.skin-content-profile {

	.hd {
		line-height: 0;
		margin-bottom: $half-spacing;
	}

		.row {
			@include row();
		}

			.col {
				@include col();
			}

			.col-left {
				@include col(4);
			}

			.col-right {
				@include col(8);
			}


			.attachement-link {
				@include col(3);
			}

				.img-wrapper {
					min-height: 65px;
				}

				.wp-caption-text {
					@include ellipsis;
					display: block;
				}

}
