.modMap {

//  	@extend cf();
    @include column(10);
  	@include push(1);

	//
	// Legend

	.legend-list {
		float: right;
		margin: $spacing 0;


  		> li {
  		  	display: inline-block;
  			margin-left: $spacing;
  		}
	}

		.wellness,
		.sport,
		.med {

			margin-right: $spacing;
			&:before {
				content: "";
				display: inline-block;
				width: $spacing / 2;
				height: $spacing / 2;
				margin-right: $spacing / 2;
			}
		}

		.wellness {
			&:before {
				background-color: $wellness;
			}
		}

		.sport {
			&:before {
				background-color: $sport;
			}
		}

		.med {
			&:before {
				background-color: $med;
			}
		}
}


	//
	// Override Map Styles

	.mapp-ib {
		border: 1px solid white;
		box-shadow: 0 0 1px $black;


		.mapp-title h2 {
			color: $dark;
			margin-bottom: $spacing;
		}

		.mapp-body {
			@include typo-meta($dark);

			label {
				@include typo-meta($dark);
				display: block;
				color: $decent;
			}

			.row {
				margin-bottom: $spacing / 2;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.profile-link {
				color: $dark;
				text-decoration: underline;
			}
		}

		.mapp-links {
			border: none;
			height: 0;
			overflow: hidden;
		}
	}

	.mapp-map-links {
		border: none;
	}
