
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */

.cf {
	clear: both;

    &:after{
        content:"";
        display:table;
        clear:both;
    }
}


/**w
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}

/*
 * Centered
 */

.centered {
	margin: 0 auto;
}


/**
 * Floats and alignment
 */

.fr { float:right; }
.fl { float:left; }

.text-center {
	text-align:center;
}


/**
 *
 * Shortens singe line text using ...
 *
 */

@mixin ellipsis {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block; // Text overflow can only happen on block or inline-block level elements
}