.skin-layout-dev {
	
	@color-dev: #F08921;

	.debug-badges {
		position: fixed;
		bottom: 1rem;
		left: 1rem;
		z-index: 1000;
	}

		.badge {
			.font-size(12);
			user-select: none;
			cursor: pointer;
			color: @color-dev;
			border: 1px solid @color-dev;
			padding: 4px 12px;
			background: white;
			margin-right: 1rem;

			&:hover,
			&.active {
				color: white;
				background: @color-dev;
			}
		}

	.terrific-module {
		.small();
		position: absolute;
		display: block;
		pointer-events: none;
		padding-left: @spacing/4;
		color: white;
		text-shadow: 0px 0px 1px black;
		word-break: break-all;
		background-color: fade(@color-dev, 50%);
		z-index: 9999;
	}

	/*
	 * Debug Vertical Rythm
	 */

	&.debug-va {
		background: linear-gradient( 0deg, #fff, #fff 95%, #efefef 95%, #efefef );
  		background-size: auto @base-line-height;
	}
}
