.skin-layout-dev {
	
	@color-dev: #F08921;

	.debug-badges {
		position: fixed;
		bottom: 1rem;
		left: 1rem;
		z-index: 1000;
	}

		.badge {
			.font-size(12);
			user-select: none;
			cursor: pointer;
			color: @color-dev;
			border: 1px solid @color-dev;
			border-radius: 6px;
			padding: 4px 12px;
			background: fade(white, 80%);
			margin-right: 1rem;

			&.active {
				color: white;
				background: fade(@color-dev, 80%);
			}
		}

	.terrific-module {
		display: block;
		padding-left: @spacing/4;
		color: white;
		background-color: fade(@color-dev, 50%);
	}

	/*
	 * Debug Vertical Rythm
	 */

	&.debug-va {
		background: linear-gradient( 0deg, #fff, #fff 95%, #efefef 95%, #efefef );
  		background-size: auto @base-line-height;
	}
}