.mod-lang-menu {

	@include column(1);

	margin-top: $spacing / 2;

	a {
		float: right;
//	  	ir();
	}

	.de a:before {
	  	content: '';
	  	display: inline-block;
	  	width: 33px;
	  	height: 19px;
	  	//background-image: url('${imgPath}/modules/lang-menu-flag-de.png');
	}
}
