.mod-lang-menu {

	@include col(1);
	padding-top: 18px;

	.nav-item-link {
		float: right;
	}

	// Flag
	.de .nav-item-link {
		@extend .ir;
	  	width: 33px;
	  	height: 19px;
	  	background-image: url('../images/modules/lang-menu-flag-de.png');
	}
}
